<h1>Sans attribut "color"</h1>
<button mat-stroked-button >mat-stroked</button>
<button mat-raised-button>mat-raised</button>

<h1>color="primary"</h1>
<button mat-stroked-button color="primary">mat-stroked primary</button>
<button mat-raised-button color="primary">mat-raised primary</button>
<h1>color="accent"</h1>
<button mat-stroked-button color="accent">mat-stroked accent</button>
<button mat-raised-button color="accent">mat-raised accent</button>
<h1>color="warn"</h1>
<button mat-stroked-button color="warn">mat-stroked warn</button>
<button mat-raised-button color="warn">mat-raised warn</button>
<app-page />
<h1>Boutons d'exemple</h1>
<button mat-stroked-button color="primary">Bouton 1</button>
<button mat-raised-button color="primary">Bouton 2</button>
<button mat-stroked-button color="accent">Bouton 3</button>
<button mat-raised-button color="accent">Bouton 4</button>
<button mat-stroked-button color="warn">Bouton 5</button>
<button mat-raised-button color="warn">Bouton 6</button>
