$primary-hues: (
  100: black,
  500: black,
  700: black,
  300: orange,
  600: orangered,
  900: orange,
  primary-light: yellow,
  primary-medium: red,
  primary-dark: brown,
  contrast: ()
);

$accent-hues: (
  100: black,
  500: black,
  700: black,
  accent-light: aqua,
  accent-medium: teal,
  accent-dark: blue,
  contrast: ()
);

$warn-hues: (
  100: black,
  500: black,
  700: black,
  warn-light: pink,
  warn-medium: purple,
  warn-dark: darkgray,
  contrast: (
    500: green
  )
);
